/*Everblush colour scheme, https://github.com/Everblush/everblush*/
:root {
  --background: #141b1e;
  --light-background: #232a2d;
  --red: #e57474;
  --green: #8ccf7e;
  --yellow: #e5c76b;
  --blue: #67b0e8;
  --magenta: #c47fd3;
  --cyan: #6cbfbf;
  --light-grey: #b3b9b8;
  --white-foreground: #dadada;

  --dark-icon-filter: invert(5%) sepia(7%) saturate(2735%) hue-rotate(153deg) brightness(99%) contrast(89%);
  --light-icon-filter: invert(91%) sepia(26%) saturate(653%) hue-rotate(116deg) brightness(78%) contrast(90%);

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white-foreground);
}

* {
  margin: 0px;
  padding: 0px;
}

html,body {
  min-height: 100vh;
  max-height: 100vh;
}

body {
  background-color: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

/* Header */
header {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, var(--magenta), var(--blue));
  color: var(--background);
  border-radius: 1rem;
}

.checklist-icon {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem 0 4rem;
  filter: var(--dark-icon-filter);
}

.header-title {
  font-size: 1.5rem;
}

.workspace-wrapper {
  flex: 1 1 auto;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.nav-bar,
.main-container {
  box-sizing: border-box;
  background-color: var(--background);
  border: 2px solid var(--cyan);
  border-radius: 1rem;
}

/* Navigation */
.nav-bar {
  min-width: 200px;
  max-width: 300px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.nav-bar li.tab-selected {
  background-image: linear-gradient(to bottom right, var(--magenta), var(--blue));
  color: var(--background);
}

.nav-bar li.tab-selected img {
  filter: var(--dark-icon-filter);
}

.nav-bar li {
  width: 80%;
  display: flex;
  padding: 0.75rem;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  background-color: var(--light-background);
  border-radius: 0.5rem;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-bottom: 2rem;
}

.all-icon,
.today-icon,
.week-icon,
.important-icon,
.completed-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  filter: var(--light-icon-filter);
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-title {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.add-project-btn {
  border: none;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

.add-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: var(--light-icon-filter);
}

.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: 1rem;
}

.project-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  filter: var(--light-icon-filter);
}

.project-btn-wrapper {
  margin-left: auto;
  display: flex;
  gap: 0.3rem;
}

.edit-project-btn,
.delete-project-btn,
.see-more-btn {
  border: none;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

.edit-icon,
.delete-icon,
.see-more-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: var(--light-icon-filter);
}

.made-by {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
}

.made-by a {
  text-decoration: none;
  color: var(--cyan);
}

.made-by a:hover {
  color: var(--white-foreground);
}

/* Main Container */
.main-container {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr;
  gap: 3rem;
  padding: 2rem;
  align-items: center;
  justify-items: center;
}

.tasks-container-title {
  grid-area: 1/2/2/3;
  width: 80%;
  font-size: 1.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--background);
  background-image: linear-gradient(to bottom right, var(--magenta), var(--blue));
}

.tasks-container-title img {
  filter: var(--dark-icon-filter);
  width: 2rem;
  height: 2rem;
}

.add-task-btn {
  grid-area: 1/3/2/4;
  width: max-content;
  height: max-content;
  justify-self: end;
  border-radius: 0.5rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  color: var(--background);
  background-image: linear-gradient(to bottom right, var(--magenta), var(--blue));
}

.add-task-btn img {
  filter: var(--dark-icon-filter);
  height: 1.5rem;
  width: 1.5rem;
}

.tasks-container {
  grid-area: 2/1/3/4;
  align-self: flex-start;
  justify-self: normal;
}

.task-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.tasks-container li {
  width: 70%;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--magenta);
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--light-background);
}

.task-left,
.task-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.task-card input[type=checkbox] {
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--background);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.task-card input[type=checkbox]:checked {
  background-color: var(--cyan);
}